- title "Edit ethos statement"

- form_for @tagline do |f|
  = f.error_messages
  %p
    = f.text_field :tagline, :class => :big
  %p
    = f.text_area :description, :class => "tinymce_simple"
  %p
    = f.submit "Save"

