- title "edit ethos statement"

- form_for @tagline do |f|
  = f.error_messages
  %p
    = f.text_field :tagline, :class => :title
  %p
    = f.text_area :description, :class => "tinymce_simple text"
  %p.submit
    = submit_bit f,  "Save"

