- title "Ethos"

#ethospage
  -for tagline in @taglines
    .ethos_statement[tagline]
      = link_to 'Edit', edit_tagline_path(tagline), :class => :edit if logged_in_as_admin?
      %h3= h tagline.tagline
      %p= sanitize tagline.description
