- title "Log in"

#login_form
  - form_tag sessions_path do
    %fieldset
      %legend Log in
      %p
        = label_tag :login, "Email"
        = text_field_tag :login, params[:login], :class => :text
      %p
        = label_tag :password
        %input#password.text{:type => :password, :name => "password"}
      %br
      = submit_tag "Log in"
      
#signup
  %p
    %span.caps or
    %br
    %a{:href => "/signup"} Sign up <span class="alt">&amp;</span> get started!

