//Resets and general styles

@import jquery.wysiwyg/style.css
@import tablesorter.blue/style.css


body
  background-color: #4B7399
  font-family: Verdana, Helvetica, Arial
  font-size: 0.9em


//General Styles
a
  color: #0000FF

  img
    border: none

.small
  font-size: 80%

.notice
  background-color: #CFC
  border: solid 1px #6C6
  padding: 0px 8px
  margin: 10px 0

.clear
  clear: both
  height: 0
  overflow: hidden
    
//Product Box styles
.product_box
  background-color: #CFC
  border: solid 1px #6C6
  padding: 0
  margin: 10px 10px
  width: 16%
  height: 16%
  float: left
  
  p
    text-align: center
    display: block
    margin-left: auto
    margin-right: auto
  
  a
    text-decoration: none
    color: #000
    font-weight: bold
  
//Layout
#container
  width: 75%
  margin: 0 auto
  background-color: #FFF
  padding: 20px 40px
  border: solid 1px black
  margin-top: 20px


#flash_notice, #flash_error
  padding: 5px 8px
  margin: 10px 0


#flash_notice
  background-color: #CFC
  border: solid 1px #6C6


#flash_error
  background-color: #FCC
  border: solid 1px #C66


.fieldWithErrors
  display: inline


#errorExplanation
  width: 50%
  border: 1px solid #C66
  padding: 0px
  padding-bottom: 12px
  margin-bottom: 20px
  background-color: #FCC
  color: #333
  text-align: center

  h2
    display: none

  p
    padding: 5px
    
  ul
    margin: 2px 24px
    text-align: left

    li
      list-style: disc


//Blog dates
.date
  float: left
  display: block
  font-size: 11px
  text-align: center
  line-height: 45px
  width: 32px
  height: 45x
  padding-right: 20px

.month-1
  background: url(/images/jan.gif) no-repeat 0 0
.month-2                                      
  background: url(/images/feb.gif) no-repeat 0 0
.month-3                                      
  background: url(/images/mar.gif) no-repeat 0 0
.month-4                                      
  background: url(/images/apr.gif) no-repeat 0 0
.month-5                                      
  background: url(/images/may.gif) no-repeat 0 0
.month-6                                      
  background: url(/images/jun.gif) no-repeat 0 0
.month-7                                      
  background: url(/images/jul.gif) no-repeat 0 0
.month-8                                      
  background: url(/images/aug.gif) no-repeat 0 0
.month-9                                      
  background: url(/images/sep.gif) no-repeat 0 0
.month-10                                      
  background: url(/images/oct.gif) no-repeat 0 0
.month-11                                      
  background: url(/images/nov.gif) no-repeat 0 0
.month-12                                      
  background: url(/images/dec.gif) no-repeat 0 0