body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 0.9em; }

a {
  color: #0000FF; }
  a img {
    border: none; }

.small {
  font-size: 80%; }

.notice {
  background-color: #CFC;
  border: solid 1px #6C6;
  padding: 0px 8px;
  margin: 10px 0; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

.product_box {
  background-color: #CFC;
  border: solid 1px #6C6;
  padding: 0;
  margin: 10px 10px;
  width: 16%;
  height: 16%;
  float: left; }
  .product_box p {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .product_box a {
    text-decoration: none;
    color: #000;
    font-weight: bold; }

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px; }

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6; }

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66; }

.fieldWithErrors {
  display: inline; }

#errorExplanation {
  width: 50%;
  border: 1px solid #C66;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #FCC;
  color: #333;
  text-align: center; }
  #errorExplanation h2 {
    display: none; }
  #errorExplanation p {
    padding: 5px; }
  #errorExplanation ul {
    margin: 2px 24px;
    text-align: left; }
    #errorExplanation ul li {
      list-style: disc; }
