- title "Contact"

.vcard
  %h5 Contact by email
  #email 
    %p Sales & Enquieries
    %p Accounts
    %p Estimates
  #email-addresses
    %p.email
      %span.type Work
     
      %a{:href => "mailto:sales@rwpgroup.com"} sales@rwpgroup.com
  
    %p.email
      %span.type Work
      
      %a{:href => "mailto:accounts@rwpgroup.com"} accounts@rwpgroup.com
  
    %p.email
      %span.type Work
      
      %a{:href => "mailto:estimates@rwpgroup.com"} estimates@rwpgroup.com
  %h5 Telephone & Fax
  #phone
  %p.tel
    %span.type Work
    %span Phone
    = CONTACT_PHONE
  %p.tel
    %span.type Fax
    %span Fax
    = CONTACT_FAX
  #phone-numbers
      
  <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Real+World+Publishing&amp;sll=50.824264,-0.551548&amp;sspn=0.062569,0.151749&amp;ie=UTF8&amp;cid=14539155649259886761&amp;ll=50.941123,-0.476532&amp;spn=0.415362,0.878906&amp;z=10&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Real+World+Publishing&amp;sll=50.824264,-0.551548&amp;sspn=0.062569,0.151749&amp;ie=UTF8&amp;cid=14539155649259886761&amp;ll=50.941123,-0.476532&amp;spn=0.415362,0.878906&amp;z=10&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
  
  #postal-address
    %h5 Postal Address
    %address.adr
      %p.street-address 108 Wick Street
      %p.locality Littlehampton
      %p.region West Sussex
      %p.postal-code BN17 7JS
      %p.country-name United Kingdom
  
  %a.fn.org.url{:href => "http://rwpgroup.com"} RWP Group
  


