- title "Privacy Policy"

%p We value your privacy and will not sell any personal data we may gather.
%br
You can unsubscribe from our newsletter by using the unsubscribe function at the bottom of all our emails. You can remove your account at this website by emailing
%a{:href => "mailto:#{ADMIN_EMAIL}"} #{ADMIN_EMAIL}
with the subject "Delete My Account" at any time.
The information we gather about you will only be used to help you benefit from our services and to enhance your experience of our site and services.
%p Your personal information is stored in a secure database and some sensitive information (such as your login password) is encrypted.
We will never save or store your credit card or payment information on our servers, although we may store this information on an external payment providers secure servers. In this case we will always inform you before storing this data and provide a link to the payment providers privacy policy.
%p We may use your IP address to help us diagnose any server problems we may have , and to allow us to administer our site. We may also use cookies to deliver custom content to you. Our website contains links to other websites and services. We provide these links to give you access to a wide range of information. Real World Publishing Limited is not responsible for the content of these sites.
