Dear <%= @user.first_name %>,

You just made an order at RWP. Someone will call you on <%= @user.phone %> to discuss the details of your order. Please check this number is correct and send an email to <a href="mailto:<%=ADMIN_EMAIL%>"><%=ADMIN_EMAIL%></a> if it is not. Alternatively, you can login and change it in your account settings.
You can view your order any time by logging in at <a href="http://rwpgroup.com/">http://rwpgroup.com/</a>.

Regards,

RWP