- title "Categories"
= link_to "New Category", new_category_path
%p This page lists all of our products, separated by category.

- for category in @categories
  %h2= link_to category.name, category
  
  -if logged_in_as_admin?
    .small
      = link_to "Edit", edit_category_path(category)
      = link_to "Destroy", category, :confirm => 'Are you sure?', :method => :delete
